:root {
    --main-font-family: "Calistoga", serif;
    --card-font-family: "Inter", sans-serif;
    --white-color: #FFFFFF;
    --main-background-color: #F5F5F5;
    --card-border-color: #EAEAEA;
    --card-color: #000000;
    --input-border-color: #CBCBCB;
    --select-color: #000000;
    --input-color: #757474;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    font-family: var(--main-font-family);
}

select, input, p {
    line-height: 1.5;
}

.container {
    background-color: var(--main-background-color);
    min-width: 650px;
}

header .container {
    /* So the background colour above doesn't interfere with the background image */
    background-color: transparent;
}

/* Typography styling - Start */
h1 {
    font-size: 4.75rem;
}

h2, select, input {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9375rem;
}

/* Typography styling - End */

/* Header styling - Start */

header {
    background-image: url("../images/photos/header-bg.jpg");
    background-size: cover;
    min-height: 300px;
    /* Stop collapsing margin */
    padding: 1px;
}

h1 {
    color: var(--white-color);
    text-align: center;
    text-shadow:  0 0 5px black;
    margin: 1em 1em 0;
}

.search-container {
    /* So the field line up with no spacing between them */
    display:flex;
    justify-content: center;
}

select, input {
    border: 1px solid var(--input-border-color);
    outline: none;
    margin: 0;
}

select {
    appearance: none;  /* Remove default styling */
    -webkit-appearance: none;  /* Remove default styling in Webkit browsers */
    -moz-appearance: none;
    min-width: 215px;
    padding: 0.75em;
    border-radius: 0.25em 0 0 0.25em;  /* Rounded corners on the left */
    width: 200px;
    background-image: url('../images/angle-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: .65em auto, 100%;
    color: var(--select-color);
    text-transform: capitalize;
}

input {
    padding: 0.625em;
    border-radius: 0 0.25em 0.25em 0;  /* Rounded corners on the right */
    border-left: none;
    min-width: 335px;
    color: var(--input-color)
}

.fa-angle-down {
    position: absolute;
    top: 12px;
    left: 85px;
}

/* Header styling - End */

/* Directory styling - Start */

.employee-container {
    padding: 3.375em 4.625em;
    display: flex;
    /* Preferred the centered look when there wasn't enough cards for the row */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    color: var(--card-color);
    font-family: var(--card-font-family);
    max-width: 320px;
    min-height: 480px;
    border: 1px solid var(--card-border-color);
    padding: 1.125em 1.5em 1.75em;
}

/* Make the hovered card bigger so its easier to read */
.employee-card:hover {
    transform: scale(1.15);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

h2 {
    margin: 0.75em 0 0.25em;
}

p {
    margin: 0.625em auto 1em 0;
}

.fa-brands {
    color: var(--card-color);
    padding-right: 1.5em;
}

.socials-container {
    margin-top: auto;
}

/* Directory styling - End */